<!--
  Generated template for the CustomerEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Customer</ion-title>
    <ion-buttons end>
      <cart></cart>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

	<form (ngSubmit)="ngOnInit()">
    <ion-searchbar mode="md" [(ngModel)]="keyword" name="keyword" (ionClear)="reset();" placeholder="search"></ion-searchbar>
  </form>

  <br>

  <ion-item *ngIf="customers.length == 0" text-center no-lines>
    <p>No customer.</p>
  </ion-item>

  <ion-item *ngFor="let customer of customers; let i = index" [ngClass]="{'selected' : (i == key)}" (tap)="navigate(customer,i)" detail-push>
  	<h2 text-capitalize>{{ customer.first_name }} {{ customer.last_name }}</h2>
  </ion-item>

  <spinner [hidden]="isBusy"></spinner>

</ion-content>
