page-transaction {
	.card {
		background: #EEEEEE;
	}

	.segment-button {
		min-height: 3.3em !important;
		line-height: 3.3em !important;
	}

	.card-content {
		.item {
			background: transparent;
		}
	}
}
