<!--
  Generated template for the TransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Transaction</ion-title>
    <ion-buttons end>
      <cart></cart>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
  	<ion-segment mode="md" [(ngModel)]="tabs" color="dark" (ionChange)="get_transaction()">
  		<ion-segment-button value="cleared">
  			Cleared (<span ion-text color="secondary">{{ cleared_result }}</span>)
  		</ion-segment-button>

  		<ion-segment-button value="releasing"  text-wrap>
  			Releasing (<span ion-text color="secondary">{{ releasing_result }}</span>)
  		</ion-segment-button>

  		<ion-segment-button value="pending">
  			Pending (<span ion-text color="secondary">{{ pending_result }}</span>)
  		</ion-segment-button>
  	</ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>

	<br>

	<div [ngSwitch]="tabs" >
		<div *ngSwitchCase="'cleared'">

			<ion-item>
				<ion-label>
					<ion-icon name="md-calendar"></ion-icon>
				</ion-label>
				<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="search_date" (ionChange)="get_transaction()"></ion-datetime>
			</ion-item>	

			<br>

			<ion-item *ngIf="cleared_transactions.length == 0 && isBusy" text-center no-lines>
				<p>No cleared transaction.</p>
			</ion-item>

			<div *ngFor="let transaction of cleared_transactions">
				<ion-card>
					<ion-item-divider text-capitalize>
						<h4 ion-text text-wrap>Owner: {{ transaction.first_name }} {{ transaction.last_name }}</h4>
						<h4 ion-text text-wrap>Release Date : {{ transaction.release_at | date : 'MM/dd/yy' }}</h4>
						<h4 [hidden]="!transaction.void">Status : 
							<span>
								<ion-badge color="danger" [hidden]="!transaction.void">Void</ion-badge>
							</span>
						</h4>
					</ion-item-divider>

					<ion-list>
						<ion-item *ngFor="let item of transaction.orders">
							<h2 ion-text color="orange">{{ item.product }}</h2>
							<h4 padding-left>{{ item.class }}</h4>
							<h4 padding-left>{{ item.size }}
								<span [hidden]="!item.type">({{ item.type }})</span>
							</h4>
							<p  padding-left>
								{{ item.quantity }} x &#8369;{{ item.price }}
								<span ion-text color="danger" float-right>&#8369;{{ item.total }}</span>
							</p>
						</ion-item>
					</ion-list>

					<ion-card-content>
						<h4 ion-text color="danger" text-right>Total : &#8369;{{ transaction.total_payment }}</h4>
					</ion-card-content>

					<ion-row>
						<ion-col text-center>
							<button ion-button [hidden]="transaction.void" small clear icon-end color="danger" (click)="void_transaction(transaction.id,'cleared');">
								Set Void
								<ion-icon name="alert"></ion-icon>
							</button>
							<button *ngIf="transaction.void" ion-button small clear icon-end color="orange" (click)="read_reason(transaction.void_reason)">
								Read Void Reason
							</button>
						</ion-col>
					</ion-row>
				</ion-card>

				<br>
			</div>

			<spinner [hidden]="isBusy"></spinner>
		</div>

		<div *ngSwitchCase="'releasing'">
			<form (ngSubmit)="search()">
				<ion-searchbar mode="md" [(ngModel)]="keyword" name="keyword" (ionClear)="reset();" placeholder="search"></ion-searchbar>
			</form>

			<br>
			
			<ion-item *ngIf="releasing_transactions.length == 0 && isBusy" text-center no-lines>
				<p>No transaction for release .</p>
			</ion-item>

			<div *ngFor="let transaction of releasing_transactions">
				<ion-card>
					<ion-item-divider  text-capitalize>
						<h4 ion-text text-wrap>Printed By : {{ transaction.printed_by }}</h4>
						<h4 ion-text text-wrap>Printed Date : {{ transaction.printed_at | date : 'MM/dd/yy' }}</h4>
						<hr>
						<h4 ion-text text-wrap>Owner : {{ transaction.first_name }} {{ transaction.last_name }}</h4>
						<h4 ion-text text-wrap>Release Date : {{ transaction.release_at | date : 'MM/dd/yy' }}</h4>

						<h4 [hidden]="!transaction.void">Status : 
							<span>
								<ion-badge color="danger" [hidden]="!transaction.void">Void</ion-badge>
							</span>
						</h4>
					</ion-item-divider>

					<ion-list>
						<ion-item *ngFor="let item of transaction.orders">
							<h2 ion-text color="orange">{{ item.product }}</h2>
							<h4 padding-left>{{ item.class }}</h4>
							<h4 padding-left>{{ item.size }}
								<span [hidden]="!item.type">({{ item.type }})</span>
							</h4>
							<p  padding-left>
								{{ item.quantity }} x &#8369;{{ item.price }}
								<span ion-text color="danger" float-right>&#8369;{{ item.total }}</span>
							</p>
						</ion-item>
					</ion-list>

					<ion-card-content>
						<h4 ion-text color="danger" text-right>Total : &#8369;{{ transaction.total_payment }}</h4>
					</ion-card-content>

					<ion-row>
						<ion-col text-center>
							<button [hidden]="transaction.void" small clear ion-button icon-end color="danger" (click)="void_transaction(transaction.id,'releasing');" item-start>
								Set Void
								<ion-icon name="alert"></ion-icon>
							</button>
							<button *ngIf="transaction.void" small clear ion-button icon-end color="orange" (click)="read_reason(transaction.void_reason)">
								Read Reason
							</button>
						</ion-col>
						<ion-col text-center>
							<button ion-button small clear icon-end color="primary" (click)="reprint(transaction)" item-end>
								RePrint
								<ion-icon name="print"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
				</ion-card>

				<br>
			</div>

			<spinner *ngIf="!isBusy && offset_releasing == 0"></spinner>

			<ion-infinite-scroll #infinite_releasing (ionInfinite)="doInfinite($event)" threshold="100px">
			  <ion-infinite-scroll-content>
			  </ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>

		<div *ngSwitchCase="'pending'">
			
			<form (ngSubmit)="search()">
				<ion-searchbar mode="md" [(ngModel)]="keyword" name="keyword" (ionClear)="reset();" placeholder="search"></ion-searchbar>
			</form>

			<br>

			<ion-item *ngIf="pending_transactions.length == 0 && isBusy" text-center no-lines>
				<p>No pending transaction.</p>
			</ion-item>

			<div *ngFor="let transaction of pending_transactions; let row = index">
				<ion-card>
					<ion-item-divider  text-capitalize>
						<h4 ion-text text-wrap>Owner: {{ transaction.first_name }} {{ transaction.last_name }}</h4>
						<h4 ion-text text-wrap>Release Date : {{ transaction.release_at | date : 'MM/dd/yy' }}</h4>
						<h4 ion-text text-wrap>Order #: {{ transaction.order_id }}</h4>
						<button ion-button clear item-end (click)="edit_transaction(row,transaction)">Edit</button>
						<button ion-button clear item-end color="danger" (click)="cancel_transaction(transaction)">Cancel</button>
					</ion-item-divider>

					<ion-list>
						<ion-item *ngFor="let item of transaction.orders">
							<h2 ion-text color="orange">{{ item.product }}</h2>
							<h4 padding-left>{{ item.class }}</h4>
							<h4 padding-left>{{ item.size }}
								<span [hidden]="!item.type">({{ item.type }})</span>
							</h4>
							<p  padding-left>
								{{ item.quantity }} x &#8369;{{ item.price }}
								<span ion-text color="danger" float-right>&#8369;{{ item.total }}</span>
							</p>
						</ion-item>
					</ion-list>
					<ion-card-content>
						<h4 ion-text color="danger" text-right>Total : &#8369;{{ transaction.total_payment }}</h4>
					</ion-card-content>

					<ion-row>
						<ion-col text-center>
							<button ion-button small clear icon-end color="orange" (click)="show_calendar(transaction)">
								Ready for Release
								<ion-icon name="checkbox-outline"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
				</ion-card>

				<br>
			</div>

			<spinner *ngIf="!isBusy && offset_pending == 0"></spinner>

			<ion-infinite-scroll #infinite_pending (ionInfinite)="doInfinite($event)" threshold="100px">
			  <ion-infinite-scroll-content>
			  </ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>
	</div>

</ion-content>
