<!--
  Generated template for the TransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Transaction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-segment [(ngModel)]="tabs" color="dark" (ionChange)="get_transaction()">
		<ion-segment-button value="finish">
			Finish 
		</ion-segment-button>

		<ion-segment-button value="pending">
			Pending 
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="tabs" >
		<div *ngSwitchCase="'finish'">
			<br>

			<ion-item>
				<ion-label>
					<ion-icon name="md-calendar"></ion-icon>
				</ion-label>
				<ion-datetime></ion-datetime>
			</ion-item>	

			<br>

			<ion-card *ngFor="let transaction of finish_transactions">
				<div *ngFor="let order of transaction.orders">
					<ion-row>
						<ion-col col-3 margin-left>
							<h2>Prodct</h2>
						</ion-col>
						<ion-col col-1>
							<h2>:</h2>
						</ion-col>
						<ion-col col-6>
							<h2>{{ order.product }}</h2>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-3 margin-left>
							<h2>Class</h2>
						</ion-col>
						<ion-col col-1>
							<h2>:</h2>
						</ion-col>
						<ion-col col-6>
							<h2>{{ order.class }}</h2>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-3 margin-left>
							<h2>Size</h2>
						</ion-col>
						<ion-col col-1>
							<h2>:</h2>
						</ion-col>
						<ion-col col-6>
							<h2>{{ order.size }}</h2>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-3 margin-left>
							<h2>Qty Type</h2>
						</ion-col>
						<ion-col col-1>
							<h2>:</h2>
						</ion-col>
						<ion-col col-6>
							<h2>{{ order.type }}</h2>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-3 margin-left>
							<h2>Quantity</h2>
						</ion-col>
						<ion-col col-1>
							<h2>:</h2>
						</ion-col>
						<ion-col col-6>
							<h2>{{ order.quantity }}</h2>
						</ion-col>
					</ion-row>

					<ion-row>
						<ion-col>
							<button ion-button color="danger" block>Void</button>
						</ion-col>
					</ion-row>
				</div>
			</ion-card>
		</div>

		<div *ngSwitchCase="'pending'">
			<br>
			
			<ion-item>
				<ion-label>
					<ion-icon name="md-calendar"></ion-icon>
				</ion-label>
				<ion-datetime></ion-datetime>
			</ion-item>	

			<br>

			<div *ngFor="let transaction of pending_transactions">
				<ion-card>
					<ion-card-header>
						<p>{{ transaction.first_name }} {{ transaction.last_name }}</p>
					</ion-card-header>

					<ion-list>
						<ion-item *ngFor="let item of transaction.orders">
							<h4>{{ item.class }}</h4>
							<h4 padding-left>{{ item.size }}({{ item.type }})</h4>
							<p  padding-left>{{ item.quantity }}x10</p>
						</ion-item>
					</ion-list>

					<ion-card-content>
						<h4 ion-text color="danger">Total : {{ transaction.total_payment }}</h4>

						<button ion-button color="danger" float-right>
							Cancel
						</button>
						<button ion-button color="primary" float-right>
							Print
						</button>
					</ion-card-content>
				</ion-card>
			
				<br>
			</div>

		</div>
	</div>

</ion-content>
