page-transaction {
	.card {
		margin: 0  !important;
		width: 100% !important;
		background: #EEEEEE;
	}

	.segment-button {
		min-height: 3.3em !important;
		line-height: 3.3em !important;
	}

	.card-content {
		.item {
			background: transparent;
		}
	}

	.row , .col {
		margin: 0;
		padding: 2px;
	}

	.col:first-child {
		margin: 0;
		padding-right: 5px;
	}
}
