<!--
  Generated template for the TransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Transaction</ion-title>
    <ion-buttons end>
      <cart></cart>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-segment mode="md" [(ngModel)]="tabs" color="dark" (ionChange)="get_transaction()">
		<ion-segment-button value="cleared">
			Cleared 
		</ion-segment-button>

		<ion-segment-button value="releasing">
			Ready for Release 
		</ion-segment-button>

		<ion-segment-button value="pending">
			Pending 
		</ion-segment-button>
	</ion-segment>
	
	<br>

	<ion-item>
		<ion-label>
			<ion-icon name="md-calendar"></ion-icon>
		</ion-label>
		<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="search_date" (ionChange)="get_transaction()"></ion-datetime>
	</ion-item>	

	<br>

	<div [ngSwitch]="tabs" >
		<div *ngSwitchCase="'cleared'">
			<div *ngFor="let transaction of cleared_transactions">
				<ion-card>
					<ion-card-header text-capitalize>
						<p>Owner: {{ transaction.first_name }} {{ transaction.last_name }}</p>
						<h4>Release Date : {{ transaction.release_at | date : 'MM/dd/yy' }}</h4>
						<p>Status : 
							<span>
								<ion-badge color="secondary" *ngIf="transaction.status == 'cleared'">Cleared</ion-badge>
								<ion-badge color="danger" [hidden]="!transaction.void">Void</ion-badge>
							</span>
						</p>
					</ion-card-header>

					<ion-list>
						<ion-item *ngFor="let item of transaction.orders">
							<h4>{{ item.class }}</h4>
							<h4 padding-left>{{ item.size }}({{ item.type }})</h4>
							<p  padding-left>{{ item.quantity }}x{{ item.price }}</p>
						</ion-item>
					</ion-list>

					<ion-item [hidden]="transaction.void">
						<button ion-button block clear color="danger" (tap)="void_transaction(transaction.id,'cleared');">
							Set as Void
						</button>
					</ion-item>
				</ion-card>

				<br>
			</div>

			<spinner [hidden]="isBusy"></spinner>
		</div>

		<div *ngSwitchCase="'releasing'">
			<div *ngFor="let transaction of releasing_transactions">
				<ion-card>
					<ion-card-header  text-capitalize>
						<p>Owner : {{ transaction.first_name }} {{ transaction.last_name }}</p>
						<h4>Release Date : {{ transaction.release_at | date : 'MM/dd/yy' }}</h4>
						<p>Status : 
							<span>
								<ion-badge color="primary" *ngIf="transaction.status == 'releasing'">Ready for Release</ion-badge>
								<ion-badge color="danger" [hidden]="!transaction.void">Void</ion-badge>
							</span>
						</p>
					</ion-card-header>

					<ion-list>
						<ion-item *ngFor="let item of transaction.orders">
							<h4>{{ item.class }}</h4>
							<h4 padding-left>{{ item.size }}({{ item.type }})</h4>
							<p  padding-left>{{ item.quantity }}x{{ item.price }}</p>
						</ion-item>
					</ion-list>

					<ion-item [hidden]="transaction.void">
						<button ion-button block clear color="danger" (tap)="void_transaction(transaction.id,'releasing');">
							Set as Void
						</button>
					</ion-item>
				</ion-card>

				<br>
			</div>

			<spinner [hidden]="isBusy"></spinner>
		</div>

		<div *ngSwitchCase="'pending'">
			<div *ngFor="let transaction of pending_transactions; let row = index">
				<ion-card>
					<ion-item-divider  text-capitalize>
						<h4>Owner: {{ transaction.first_name }} {{ transaction.last_name }}</h4>
						<ion-icon name="undo" color="primary" (tap)="edit_transaction(row,transaction)" item-end></ion-icon>
						<ion-icon name="remove-circle" color="danger" (tap)="cancel_transaction(transaction)" item-end></ion-icon>
					</ion-item-divider>

					<ion-list>
						<ion-item *ngFor="let item of transaction.orders">
							<h4>{{ item.class }}</h4>
							<h4 padding-left>{{ item.size }}({{ item.type }})</h4>
							<p  padding-left>{{ item.quantity }}x{{ item.price }}</p>
						</ion-item>
					</ion-list>

					<ion-item>
						<button ion-button block clear color="orange" (tap)="show_calendar(transaction)">
							Ready for Release
						</button>
					</ion-item>
				</ion-card>

				<br>
			</div>

			<spinner [hidden]="isBusy"></spinner>
		</div>
	</div>

</ion-content>
