page-order-entry {
	
	.row , .col {
		margin: 0;
		padding: 0;
	}

	.card {
		position: relative;
		min-height: 80px;
		background: #EEEEEE;
		border: 1px solid color($colors,orange);
	}

	.item {
		color: color($colors,orange);
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);
		background: transparent;
	}

	.selected {
		background: color($colors,yellow);
	}

	.text-input[disabled] {
		opacity: 1 !important;
	}
}
