page-cart {

	ion-card {
		margin: 0 !important;
		width: 100% !important;
	}

	.item-divider {
		h4 {
			font-weight: bolder;
		}
	}

	.cart-item {
		border-top: 1px dotted black;
	}

	.row , .col {
		padding: 0;
		margin: 0;

		.icon {
			font-size: 2.3em;
			font-weight: bolder;
		}
	}

	ion-item-sliding:nth-child(even) {
		background-color: #EEEEEE;

		.item {
			background-color: #EEEEEE;
		}
	}

	h3 span {
		font-size: 2.2em;
		padding: 0.2em;
	}
}
