<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>My Cart</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<div text-center>
		<h4>Vista del rio</h4>
		<p>Carmen, Cagayan de Oro City</p>
	</div>

	<div *ngIf="cart.length == 0 && isBusy == true">
		<hr>
		<ion-item text-center no-lines>
			<p>No item</p>
		</ion-item>
	</div>

	<div *ngFor="let items of cart; let row = index">
		<ion-card>
			<ion-item-divider	>
				<h4 text-capitalize>Owner: {{ items.first_name }} {{ items.last_name }}</h4>
				<h4 ion-text color="primary" (tap)="edit(row,items)" [hidden]="key == row" item-end>Edit</h4>
			</ion-item-divider	>

			<ion-list>
				<ion-item-sliding *ngFor="let data of items.orders; let i = index">
					<ion-item>
						<ion-row>
							<ion-col col-6 align-self-center>
								<h5>{{ data.class }}</h5>
								<h4>{{ data.size }}({{ data.type }})</h4>
							</ion-col>

							<ion-col text-center align-self-center col-4 padding>
								<h3>
									<ion-icon class="qty-icon" color="orange" name='add' *ngIf="key == row" (tap)="quantity(row,i)"></ion-icon>
									<span>{{ data.quantity }}</span>
									<ion-icon class="qty-icon" color="orange" name='remove' *ngIf="key == row" (tap)="quantity(row,i,false)"></ion-icon>
								</h3>
							</ion-col>

							<ion-col col-2 text-center text-right align-self-center>
								<h4>P{{ data.price }}</h4>
							</ion-col>
						</ion-row>
					</ion-item>

					<ion-item-options side="right">
				      <button ion-button icon-only color="danger" (tap)="delete(row,i,data)">
				      	<ion-icon name="trash"></ion-icon>
				      </button>
				    </ion-item-options>
				</ion-item-sliding>
			</ion-list>

			<ion-card-content>
				<h4 ion-text color="danger" text-right>Total : P{{ items.total_payment }}</h4>
			</ion-card-content>
		</ion-card>

		<ion-row *ngIf="key == row">
			<ion-col>
				<button ion-button outline block color="danger" (tap)="cancel_edit();">
					Cancel
				</button>
			</ion-col>
			&nbsp;
			<ion-col>
				<button ion-button outline block color="orange" (tap)="update(items);">
					Save
				</button>
			</ion-col>
		</ion-row>

		<ion-row [hidden]="key == row">
			<ion-col>
				<button  ion-button outline block color="danger" (tap)="discard(row,items.id);">
					Discard
				</button>
			</ion-col>
			&nbsp;
			<ion-col>
				<button  ion-button outline block color="orange" (tap)="check_out(items);">
					CheckOut
				</button>
			</ion-col>
		</ion-row>
		<br>
	</div>

	<spinner [hidden]="isBusy"></spinner>

</ion-content>
