<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>My Cart</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<br>

	<div *ngIf="cart.length == 0 && isBusy">
		<hr>
		<ion-item text-center no-lines>
			<p>No cart item</p>
		</ion-item>
	</div>

	<div *ngFor="let items of cart; let row = index">
		<ion-card>
			<ion-item-divider>
				<h4 text-capitalize>Owner: {{ items.first_name }} {{ items.last_name }}</h4>
				<h4 ion-text color="primary" (click)="edit(row,items)" [hidden]="key == row" item-end>Edit</h4>
			</ion-item-divider>

			<ion-list>
				<ion-item-sliding *ngFor="let data of items.orders; let i = index">
					<ion-item>
						<ion-row>
							<ion-col col-6 align-self-center>
								<h2 ion-text color="orange">{{ data.product }}</h2>
								<h5>{{ data.class }}</h5>
								<h5>{{ data.size }}
									<span *ngIf="data.type != null">({{ data.type }})</span>
								</h5>
							</ion-col>

							<ion-col text-center align-self-center col-4 padding>
								<h3>
									<ion-icon class="qty-icon" color="orange" name='add' *ngIf="key == row" (click)="quantity(row,i)"></ion-icon>
									<span>{{ data.quantity }}</span>
									<ion-icon class="qty-icon" color="orange" name='remove' *ngIf="key == row" (click)="quantity(row,i,false)"></ion-icon>
								</h3>
							</ion-col>

							<ion-col col-2 text-center text-right align-self-center>
								<h4>&#8369;{{ data.price }}</h4>
								<h4 ion-text color="danger">&#8369;{{ data.total }}</h4>
							</ion-col>
						</ion-row>
					</ion-item>

					<ion-item-options side="right">
				      <button ion-button icon-only color="danger" (click)="delete(row,i,data)">
				      	<ion-icon name="trash"></ion-icon>
				      </button>
				    </ion-item-options>
				</ion-item-sliding>
			</ion-list>

			<ion-card-content>
				<h4 ion-text color="danger" text-right>Total : &#8369;{{ items.total_payment }}</h4>
			</ion-card-content>
		</ion-card>

		<ion-row *ngIf="key == row">
			<ion-col>
				<button ion-button outline block color="danger" (click)="cancel_edit();">
					Cancel
				</button>
			</ion-col>
			&nbsp;
			<ion-col>
				<button ion-button outline block color="orange" (click)="update(items);">
					Save
				</button>
			</ion-col>
		</ion-row>

		<ion-row [hidden]="key == row">
			<ion-col>
				<button  ion-button outline block color="danger" (click)="discard(row,items.id);">
					Discard
				</button>
			</ion-col>
			&nbsp;
			<ion-col>
				<button  ion-button outline block color="orange" (click)="check_out(items);">
					Checkout
				</button>
			</ion-col>
		</ion-row>
		<br>
	</div>

	<spinner [hidden]="isBusy"></spinner>

</ion-content>
