page-home {

	.row {
		margin-top: 5px;
	}

	.card {
		width: 100%;
		margin: 0;
		padding: 5px;
		max-height: 141px;

		.icon {
			font-size: 5em;
		}

		.card-header {
			font-weight: bolder;
		}
	}
}
