<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Change Password</ion-title>
    <ion-buttons end [hidden]="profile.type == 'warehouse_staff' || profile.type == 'printer_staff'">
      <cart></cart>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

	<form [formGroup]="user" (ngSubmit)="change_password()">
		<ion-item>
			<ion-label stacked>Current Password</ion-label>
			<ion-input type="password" text-center formControlName="current_password"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.current_password">{{ error.current_password }}</div>

		<br>

		<ion-item>
			<ion-label stacked>New Password</ion-label>
			<ion-input type="password" text-center formControlName="password"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.password">{{ error.password }}</div>

		<br>

		<ion-item>
			<ion-label stacked>Confirm Password</ion-label>
			<ion-input type="password" text-center formControlName="confirm_password"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.confirm_password">{{ error.confirm_password }}</div>

		<br>

		<button ion-button color="shamrock" block>Save Changes</button>
	</form>

</ion-content>
