<!--
  Generated template for the AddStaffPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Register Staff</ion-title>
    <ion-buttons end>
      <cart></cart>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

	<form [formGroup]="info" (ngSubmit)="register()">
		<ion-item-divider>
			Personal Information
		</ion-item-divider>
		<ion-item>
			<ion-label stacked>First Name</ion-label>
			<ion-input type="text" text-center formControlName="first_name"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.first_name">{{ error.first_name }}</div>

		<br>

		<ion-item>
			<ion-label stacked>Last Name</ion-label>
			<ion-input type="text" text-center formControlName="last_name"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.last_name">{{ error.last_name }}</div>

		<br>

		<ion-item>
			<ion-label stacked>User Role</ion-label>
			<ion-select formControlName="user_role">
				<ion-option value="admin_staff">Admin Staff</ion-option>
				<ion-option value="warehouse_staff">Warehouse Staff</ion-option>
			</ion-select>
		</ion-item>
		<div class="error" *ngIf="error.user_role">{{ error.user_role }}</div>

		<br>
		<br>

		<ion-item-divider>
			Account Information
		</ion-item-divider>
		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-input type="text" text-center formControlName="email"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.email">{{ error.email }}</div>

		<br>

		<ion-item>
			<ion-label stacked>Password</ion-label>
			<ion-input type="password" text-center formControlName="password"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.password">{{ error.password }}</div>

		<br>

		<ion-item>
			<ion-label stacked>Confirm Password</ion-label>
			<ion-input type="password" text-center formControlName="confirm_password"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.confirm_password">{{ error.confirm_password }}</div>

		<br>
		<br>

		<div padding>
			<button ion-button block color="orange">Add Staff</button>
		</div>

	</form>

</ion-content>
