page-warehouse {
	.card {
		margin: 0 !important;
		width: 100% !important;
		background: #EEEEEE;
	}

	.segment-button {
		height: 3.3em !important;
		line-height: 3.3em !important;
	}

	.void {
		color: color($colors,light);
		background: color($colors,danger);
	}
}
