<!--
  Generated template for the WarehousePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Vista del rio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-segment [(ngModel)]="tabs" color="dark">
		<ion-segment-button value="finish">
			Finish 
		</ion-segment-button>

		<ion-segment-button value="pending">
			Release 
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="tabs" >
		<div *ngSwitchCase="'finish'">
			<br>

			<ion-card *ngFor="let transaction of finish_transactions">
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Class</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.class }}</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Size</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.size }}</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Type</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.type }}</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Quantity</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.qty }}</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Release</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.release }}</h2>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<button ion-button color="danger" block>Void</button>
					</ion-col>
				</ion-row>
			</ion-card>
		</div>

		<div *ngSwitchCase="'pending'">
			<br>

			<ion-card *ngFor="let transaction of pending_transactions">
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Class</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.class }}</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Size</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.size }}</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Type</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.type }}</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Quantity</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.qty }}</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-3 margin-left>
						<h2>Release</h2>
					</ion-col>
					<ion-col col-1>
						<h2>:</h2>
					</ion-col>
					<ion-col col-6>
						<h2>{{ transaction.release }}</h2>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<button ion-button color="danger" block>Void</button>
					</ion-col>
				</ion-row>
			</ion-card>
		</div>
	</div>

</ion-content>
