<!--
  Generated template for the WarehousePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
  	<ion-buttons start>
  	  <logo></logo>
  	</ion-buttons>
    <ion-title>Vista del rio</ion-title>
    <ion-buttons end>
      <cart></cart>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-item>
		<ion-label>
			<ion-icon name="md-calendar"></ion-icon>
		</ion-label>
		<ion-datetime></ion-datetime>
	</ion-item>	

	<br>

	<div *ngFor="let transaction of releasing_transactions">
		<ion-card>
			<ion-card-header  text-capitalize>
				<p>Owner : {{ transaction.first_name }} {{ transaction.last_name }}</p>
				<h4>Release Date : {{ transaction.release_at | date : 'MM/dd/yy' }}</h4>
				<p>Status : 
					<span>
						<ion-badge color="secondary" [hidden]="transaction.status">Ready for Release</ion-badge>
						<ion-badge color="danger" [hidden]="!transaction.status">Void</ion-badge>
					</span>
				</p>
			</ion-card-header>

			<ion-list>
				<ion-item *ngFor="let item of transaction.orders">
					<h4>{{ item.class }}</h4>
					<h4 padding-left>{{ item.size }}({{ item.type }})</h4>
					<p  padding-left>{{ item.quantity }}x{{ item.price }}</p>
				</ion-item>
			</ion-list>

			<ion-card-content>
				<ion-row>
					<ion-col>
						<button ion-button block color="primary" (tap)="verify_connectivity(transaction);">
							Print
						</button>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
	</div>
	
</ion-content>
