page-add-customer {
	.error {
		color: red;
		padding-left: 16px;
	}

	.hr-divider {
	  display: flex;
	  
	  .hr-line {
	    width: 100%;
	    position: relative;
	    margin: 15px;
	    border-bottom: 0.55px solid #c8c7cc;
	  }

	  .hr-icon {
	    position: relative;
	    top: 3px;
	    color: #c8c7cc
	  }

	  .icon {
	  	font-size: 2.5em;
	  }

	  h1 {
	  	line-height: 0.8;
	  }
	}
}
