<!--
  Generated template for the AddCustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>New Customer</ion-title>
    <ion-buttons end>
      <cart></cart>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

	<form [formGroup]="customer" (ngSubmit)="register()">
		<ion-item-divider>
			Personal Information
		</ion-item-divider>
		<br>
		
		<div class="error" *ngIf="error.full_name">{{ error.full_name }}</div>

		<ion-item>
			<ion-label stacked>First Name</ion-label>
			<ion-input type="text" text-center formControlName="first_name"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.first_name">{{ error.first_name }}</div>

		<br>

		<ion-item>
			<ion-label stacked>Last Name</ion-label>
			<ion-input type="text" text-center formControlName="last_name"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.last_name">{{ error.last_name }}</div>

		<br>

		<ion-item>
			<ion-label stacked>Contact Number</ion-label>
			<ion-input type="number" text-center formControlName="phone_number"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.phone_number">{{ error.phone_number }}</div>

		<br>

		<ion-item>
			<ion-label stacked>Address</ion-label>
			<ion-input type="text" text-center formControlName="location"></ion-input>
		</ion-item>
		<div class="error" *ngIf="error.location">{{ error.location }}</div>

		<br>

		<ion-item-divider>
			Transaction Information
		</ion-item-divider>

		<br>

		<ion-item>
			<ion-label stacked>Payment Type</ion-label>
			<ion-select formControlName="payment_type">
				<ion-option *ngFor="let payment of payment_types" value="{{payment.id}}">{{ payment.name }}</ion-option>
			</ion-select>
		</ion-item>
		<div class="error" *ngIf="error.payment_type">{{ error.payment_type }}</div>

		<br>

		<ion-item>
			<ion-label stacked>Delivery Option</ion-label>
			<ion-select formControlName="delivery_option">
				<ion-option *ngFor="let delivery of delivery_options" value="{{delivery.id}}">{{ delivery.name }}</ion-option>
			</ion-select>
		</ion-item>
		<div class="error" *ngIf="error.delivery_option">{{ error.delivery_option }}</div>

		<br>
		<br>

		<div padding>
			<button ion-button block color="shamrock">Add Customer</button>
		</div>
	</form>

</ion-content>
